<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Imagem do Produto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-button expand="block" (click)="selecionarFonte()">
  <ion-icon name="camera" slot="start"></ion-icon>
  Adicionar Foto
</ion-button>


  <ion-button
  expand="full"
  color="success"
  (click)="enviar()"
  [disabled]="!imagemFile"
  >
    Enviar
  </ion-button>

</ion-content>






<ion-img *ngIf="preview" [src]="preview"></ion-img>

<ion-button expand="block" color="success" (click)="enviar()" [disabled]="!imagemFile">
  Enviar para o Servidor
</ion-button>