<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Detalhes do produtos</ion-title>
    <ion-buttons slot="start">
      <ion-back-button><ion-icon name="arrow-back-sharp" ></ion-icon></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 <form [formGroup]="form" (ngSubmit)="salvar()">
  <ion-item>
    <ion-label position="floating">Descrição</ion-label>
    <ion-input formControlName="descricao"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Código de Barras</ion-label>
    <ion-input formControlName="cod_barras"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Valor Unitário</ion-label>
    <ion-input formControlName="valor_unit"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Unidade de Venda</ion-label>
    <ion-input formControlName="unidade_venda"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Quantidade em Estoque</ion-label>
    <ion-input formControlName="quantidade"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Estoque Mínimo</ion-label>
    <ion-input formControlName="estoque_minimo"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">última movimentação: </ion-label>
    
  </ion-item>

 </form>

</ion-content>
