<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">

  <h2>Resumo do Pedido</h2>
  
  <ion-list>
    <ion-item *ngFor="let item of carrinho">
      <ion-label>
        <h3>Produto ID: {{ item.produto_id }}</h3>
        <p>Qtd: {{ item.quantidade }}</p>
      </ion-label>
      <ion-note slot="end">R$ --</ion-note>
    </ion-item>
  </ion-list>

  <ion-button expand="block" color="success" (click)="finalizarCompra()" [disabled]="carrinho.length === 0">
    <ion-icon name="checkmark-circle-outline" slot="start"></ion-icon>
    Finalizar Venda
  </ion-button>



    <ion-card *ngIf="pedido">
      <ion-card-header>
        <ion-card-title>Pedido #{{pedido.id}}</ion-card-title>
        <ion-card-subtitle>Dados</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <p><strong>Usuario:</strong>{{pedido.usuario_id}}</p>
        <p><strong>Cliente:</strong>{{pedido.cliente_id}}</p>
        <p><strong>Data:</strong>{{pedido.data}}</p>
        <p><strong>Status:</strong>{{pedido.status}}</p>
        <p><strong>Desconto:</strong>{{pedido.desconto}}</p>
      </ion-card-content>
    </ion-card>
    <div>
      <p (click)="Listar()">Listar Pedidos</p>
    </div>
  </div>
</ion-content>
